<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd   
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />

	<bean class="mx.wsFerryTCP.ws.ListenPortToServerIpPortMap">
		<property name="map">
			<map>
				<!-- 将tcpListen的18888端口映射到本地网络的8080端口 -->
				<entry key="18888" value="192.168.1.20:8080"/>
                <entry key="2404"  value="192.168.1.21:2404"/>
                <entry key="9999"  value="192.168.1.22:9999"/>
			</map>
		</property>
	</bean>

	<bean id="projectConfig" class="org.springframework.beans.factory.config.MapFactoryBean">
		<property name="sourceMap">
			<map>
				<!-- webSocket服务端地址,下面的#替换成实际的地址 -->
				<entry key="wsServerAddress"  value="#.#.#.#:38080"/>
			</map>
		</property>
	</bean>
</beans>



















